
/* Sets the overall background, text colour, font, and spacing */
body {
    background-color: #F9ECE5;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Styles the header with a linear gradient and centered text */
header {
    background: linear-gradient(#D6CBC9, #F9ECE5);
    padding: 20px;
    text-align: center;
}


/* Styles the navigation area */
nav {
    background-color: #D6CBC9;
    padding: 10px;
    text-align: center;
}

/* Styles the navigation links with borders, spacing, and shadows */
nav a {
    background-color: #F9ECE5;
    color: #68150A;
    padding: 10px;
    margin: 10px;
    border: 2px solid #68150A;
    box-shadow: 2px 2px 5px #944D4D;
}


/* Styles the main content area and adds a gradient background */
main {
    background: linear-gradient(135deg, #D6CBC9, #F9ECE5);
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    min-height: 400px;
}



/* Sets the colour of the main headings */
h2 {
    color:#68150A;
}

/* Styles the subheadings */
h3 {
    color: #944D4D;
}


/* Sets the size and border around images */
img {
    width: 200px;
    height: auto;
    border: 3px solid #68150A;
    padding: 5px;
    background-color: #F9ECE5;
}



/* Sets the size of the video */
video {
    width: 500px;
    height: auto;
}



/* Styles the form text boxes and comment box */
input, textarea {
    padding: 8px;
    border: 1px solid #68150A;
    color: #000000;
}


/* Styles the Reset button */

#reset {
    background-color: #D6CBC9;
    color: #000000;
    border: 2px solid #68150A;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px #944D4D;
}


/* Styles the submit button */
#submit {
    background-color: #D6CBC9;
    color: #000000;
    border: 2px solid #68150A;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px #944D4D;
}



footer {
    background: linear-gradient(135deg, #68150A, #944D4D);
    color: #F9ECE5;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}