
/* Styles for tablet devices with a width */
main {
    width: 85%;
    padding: 20px;
}

/* Styles the navigation links with padding, margin, and font size */
nav a {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

/* Sets the size of the images */
img{
    width: 250px;
    height: auto;
}


/* Sets the size of the video */
video {
    width: 70%;
    height: auto;
}


/* Styles the form text boxes and comment box */
input,textarea {
    width: 80%;
}
